/* Base Color */
$color-white: #FFFFFF;
$color-black: #1F2D3D;
$color-black2: #333;
$color-light-black: #969696;
$color-blue: #20A0FF;
$color-grey: #D3DCE6;
$color-grey2: #d4d4d4;
$color-silver: #8492A6;
$border-color: #c8c8cd;
$cancel-word: #BFCBD9;

$info-color: #20A0FF;
$success-color: #13CE66;
$error-color: #FF4949;
$warning-color: #F7BA2A;
$cancel-color: #EEF1F6;

$btn-inspection: #53AE37;

$head-background-color: #242F42;

/* Base Font */
$extra-2-large: 25px; // 特大主标题
$extra-large: 20px; // 主标题
$large: 18px; // 标题
$medium: 16px; // 小标题
$small: 14px; // 正文
$extra-small: 13px; // 正文（小）
$extra-2-small: 12px; // 辅助文字
